<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>gladCode - Perfil</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='Programe o comportamento de seu gladiador e leve ele para batalhas no estilo "Battle Royale" ou Duelos com seus amigos. Escolha um visual para ele e venha programar!'>
    <link rel="shortcut icon" href="/img/gc-icon.png">
    
    <link rel="stylesheet" href="/css/dashboard.min.css">
    <script type="module" src="/js/dashboard.min.js" defer></script>
</head>

<body>
    <gc-header></gc-header>
    
    <div id='page-container'>
        <aside role="region" aria-label="barra lateral">
            <gc-user-infos></gc-user-infos>
            
            <!-- INSERTING DYNAMICALLY:
                <loader-menu></loader-menu>
            -->

            <footer role="contentinfo">
                <ul id="contacts">
                    <li aria-label="enviar um email" title="Enviar Email">
                        <a href="mailto:pswerlang@gmail.com" target="_blank">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>

                    <li aria-label="página do facebook" title="Página do Facebook">
                        <a href="https://facebook.com/gladcode" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li aria-label="página do reddit" title="Comunidade do Reddit">
                        <a href="https://www.reddit.com/r/gladcode" target="_blank">
                            <i class="fa-brands fa-reddit-alien"></i>
                        </a>
                    </li>

                    <li aria-label="página do github" title="Projetos do Github">
                        <a href="https://github.com/werlang" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>

                    <li aria-label="grupo do whatsapp" title="Grupo do WhatsApp">
                        <a href="https://forms.gle/BDbSmcLpPgwLe4Uc7" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>

                <span class="copy">Copyright © 2018 Pablo Werlang</span>
            </footer>
        </aside>
        
        <main role="main">
            <section id="selected-panel"></section>
        </main>

        <article role="article" id='chat-bar'></article>
    </div>

    <!-- Prototype -->
    <dialog>
        <p>Editar Perfil</p>

        <form>
            <fieldset>
                <label for="update-nickname">Apelido: </label>
                <input id="update-nickname" placeholder="Digite seu apelido..." type="text">

                <br>

                <label for="update-picture">Foto de Perfil: </label>
                <input type="file" accept="image/png, image/jpeg" name="" id="update-picture">
            </fieldset>

            <fieldset>
                <label for="update-pref-language">Linguagem Preferida: </label>
                <select name="" id="update-pref-language">
                    <option value="c">C</option>
                    <option value="python">Python</option>
                    <option value="visual">Linguagem Visual</option>
                </select>
            </fieldset>

            <fieldset>
                <p>Preerências de Email: </p>

                <input type="checkbox" name="" id="update-pref1">
                <label for="update-pref1">Ser notificado ao receber uma solicitação de amizade</label>
                
                <br>

                <input type="checkbox" name="" id="update-pref2">
                <label for="update-pref2">Ser notificado quando me enviarem mensagens</label>
                
                <br>

                <input type="checkbox" name="" id="update-pref3">
                <label for="update-pref3">Ser notificado sobre novas atualizações</label>
                
                <br>

                <input type="checkbox" name="" id="update-pref4">
                <label for="update-pref4">Ser notificado caso me desafiem para um duelo</label>
                
                <br>

                <input type="checkbox" name="" id="update-pref5">
                <label for="update-pref5">Ser notificado a respeito de torneios que eu participo</label>
            </fieldset>

            <button type="submit">Salvar alterações</button>
        </form>
    </dialog>

    <input aria-hidden="true" id="template-vars" type="hidden" value="{{template-vars}}">
</body>
</html>