<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>gladCode - Perfil</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='Programe o comportamento de seu gladiador e leve ele para batalhas no estilo "Battle Royale" ou Duelos com seus amigos. Escolha um visual para ele e venha programar!'>
    <link rel="shortcut icon" href="/img/gc-icon.png">
    
    <link rel="stylesheet" href="/css/dashboard.min.css">
    <script type="module" src="/js/dashboard.min.js" defer></script>
</head>

<body>
    <gc-header></gc-header>
    
    <div id='page-container'>
        <aside role="region" aria-label="barra lateral">
            <gc-user-infos></gc-user-infos>

            <nav role="navigation" id='panel-selector'>
                <ul role="tablist" class="panel-selector__panels">
                    <li role="tab" id="news" class='panels__panel news' tabindex="0">
                        <span class='panel__notify panel__notify--empty'></span>
    
                        <div class='panel__frame'>
                            <i class="fa-solid fa-bell"></i>
                        </div>
    
                        <span>Notícias</span>
                    </li>
    
                    <li role="tab" id="glads" class='panels__panel glads' tabindex="0">
                        <span class='panel__notify panel__notify--empty'></span>
    
                        <div class='panel__frame'>
                            <i class="fa-solid fa-street-view"></i>
                        </div>
    
                        <span>Gladiadores</span>
                    </li>
    
                    <li role="tab" id="battle" class='panels__panel battle' tabindex="0">
                        <span class='panel__notify panel__notify--empty'></span>
    
                        <div class='panel__frame'>
                            <i class="fa-solid fa-shield-halved"></i>
                        </div>
    
                        <span>Batalha</span>
                    </li>

                    <li role="tab" id="potions" class='panels__panel potions' tabindex="0">
                        <span class='panel__notify panel__notify--empty'></span>
    
                        <div class='panel__frame'>
                            <i class="fa-solid fa-flask"></i>
                        </div>
    
                        <span>Poções</span>
                    </li>
    
                    <li role="tab" id="rank" class='panels__panel rank' tabindex="0">
                        <div class='panel__frame'>
                            <i class="fa-solid fa-ranking-star"></i>
                        </div>
    
                        <span>Ranking</span>
                    </li>
    
                    <li role="tab" id="messages" class='panels__panel messages' tabindex="0">
                        <span class='panel__notify panel__notify--empty'></span>
    
                        <div class='panel__frame'>
                            <i class="fa-solid fa-message"></i>
                        </div>
    
                        <span>Mensagens</span>
                    </li>
                </ul>
            </nav>

            <footer role="contentinfo">
                <ul id="contacts">
                    <li aria-label="enviar um email" title="Enviar Email">
                        <a href="mailto:pswerlang@gmail.com" target="_blank">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>

                    <li aria-label="página do facebook" title="Página do Facebook">
                        <a href="https://facebook.com/gladcode" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li aria-label="página do reddit" title="Comunidade do Reddit">
                        <a href="https://www.reddit.com/r/gladcode" target="_blank">
                            <i class="fa-brands fa-reddit-alien"></i>
                        </a>
                    </li>

                    <li aria-label="página do github" title="Projetos do Github">
                        <a href="https://github.com/werlang" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>

                    <li aria-label="grupo do whatsapp" title="Grupo do WhatsApp">
                        <a href="https://forms.gle/BDbSmcLpPgwLe4Uc7" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>

                <span class="copy">Copyright © 2018 Pablo Werlang</span>
            </footer>
        </aside>
        
        <main role="main">
            <section id="selected-panel"></section>
        </main>

        <article role="article" id='chat-bar'></article>
    </div>

    <input aria-hidden="true" id="template-vars" type="hidden" value="{{template-vars}}">
</body>
</html>