<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GladCode - Home Provisório</title>

    <script type="module" src="/js/home.min.js" defer></script>
    <link rel="stylesheet" href="/css/home.min.css">
</head>
<body>
    <h1>Home Provisório</h1>

    <div id="login"></div>
    <img src="https://i.pinimg.com/originals/f0/af/c4/f0afc42be331266eaf5413bce05c4783.gif">

    <div id="button-login"></div>

    <input id="template-vars" type="hidden" value="{{template-vars}}">
</body>
</html>