<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='Programe o comportamento de seu gladiador e leve ele para batalhas no estilo "Battle Royale" ou Duelos com seus amigos. Escolha um visual para ele e venha programar!'>
    <title>GladCode - Home Provisório</title>

    <!-- Pré-conexão para Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">

    <link rel="shortcut icon" href="/img/gc-icon.png">

    <script type="module" src="/js/home.min.js" defer></script>
    <link rel="stylesheet" href="/css/home.min.css" media="print" onload="this.media='all'">
</head>
<body>
    <gc-header></gc-header>

    
    <!-- <button id="login-btn">login</button> -->
    
    <main>
        <h1>Home Provisório</h1>
        
        <div id="login"></div>
        <div id="button-login"></div>

        <p>A página está em sua versão provisória! Algum desenvolvedor engraçadinho pôs um GIF desnecessário que comprometeu uma porcentagem do desempenho da página...</p>
    </main>


    <input id="template-vars" type="hidden" value="{{template-vars}}">
</body>
</html>