#frame{
	display: flex;
}

.ace_editor ::-webkit-scrollbar-thumb {
	background: #aaa;
}

.ace_editor:hover ::-webkit-scrollbar-thumb {
	background: #888;
}

body{
	overflow: hidden;
}

#panel-left {
    background-color: #00638d;
	display: flex;
	flex-direction: column;
	width: 65px;
	transition: width 0.5s;
	padding-top: 50px;
	z-index: 1;
	overflow: auto;
	max-height: 100vh;
	box-sizing: border-box;
}

#panel-left img {
	display: inline;
}

#panel-left.hidden img,
#panel-left.hidden i {
	display: none;
}

#panel-left i {
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: white;
}

#editor {
	flex-grow: 1;
	height: calc(100vh - 60px);
	margin-top: 60px;
}

#panel-left-opener {
	position: fixed;
	top: 50%;
	left: 0;
	width: 20px;
	height: 40px;
	background-color: #00638d;
	z-index: 5;
	transition: margin 0.5s;
	border-radius: 0px 10px 10px 0px;
    box-shadow: 1px 0px 5px -2px black;
    background-image: url(../sprite/images/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#panel-left-opener.open {
	margin-left: 65px;
	transform: scale(-1);
	border-radius: 10px 0px 0px 10px;
}

@media only screen and (min-width: 600px) {
	#panel-left-opener {
		display: none;
	}
	#panel-left {
		width: auto;
	}
	#editor {
		height: calc(100vh - 50px);
		margin-top: 50px;
	}
}

#code, #blocks {
	height: 100%;
	width: 100%;
	margin: 0;
}

.mrow {
	height: auto;
	padding: 10px 15px;
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
}

.mrow img {
	height: 35px;
}

#profile-icon img {
	border-radius: 100%;
}

.mrow:hover {
	background-color: rgba(0,40,70,0.4);
}

.mrow.disabled {
	filter: opacity(0.2);
	cursor: default;
}

#panel-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#float-card{
	position: fixed;
    top: 40px;
    right: 0;
    z-index: 2;
    opacity: 0.6;
	transition: all 0.3s, margin 0s;
	display: none;
}

@media only screen and (min-width: 600px) {
	#float-card{
		display: block;
	}
}

#float-card:hover{
	opacity: 1;
}

#float-card .glad-preview {
    width: 180px;
	cursor: pointer;
}

.fog {
	position: fixed;
    z-index: 7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
	display: flex;
    justify-content: center;
    align-items: center;
}


#fog-glads #button-container,
#fog-battle #button-container {
	display: flex;
}

#fog-battle #button-container .button,
#fog-glads .button {
    width: 100%;
    border-radius: 0px;
    height: 50px;
    font-size: 1.3em;
	transition: all 0.3s;
}

#fog-glads .glad-card-container {
	flex-wrap: wrap;
	overflow-y: auto;
	max-height: calc(100vh - 80px);
}

#fog-glads .glad-preview {
    width: 180px;
	margin-top: 15px;
	cursor: pointer;
	transition: all 0.3s;
}

#fog-glads .glad-preview:hover {
    filter: brightness(92%);
}

#fog-glads .glad-preview.selected {
    box-shadow: 0px 0px 5px 2px #4286f4;
    filter: brightness(85%);
}

#fog-battle .glad-preview .code {
	align-items: flex-start;
}

#fog-glads #open-glad,
#fog #settings-window,
#fog-battle #battle-window {
	width: 600px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
	font-family: 'Roboto', sans-serif;
	color: #646464;
	box-sizing: border-box;
	max-height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

#fog-battle h3 span {
	color: #00638d;
    font-weight: bold;
}

#fog-glads #message,
#fog-battle #message {
		margin: 0px 30px;
}

#fog-battle #selection-container {
    padding: 0px 30px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

@media only screen and (min-width: 600px) {
	#fog-battle #selection-container {
		flex-direction: row;
	}
}

#fog-battle #list-title {
	width: 250px;
    display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

#fog-battle #list-title span {
	margin-left: 5px;
}

#fog-battle #list-title img {
	height: 20px;
    margin-right: 20px;
}

#settings-window #list,
#fog-battle #list {
	width: 250px;
    min-height: 100px;
    background-color: #f3f5ff;
    border-radius: 3px;
    box-shadow: 1px 1px 3px black inset;
    cursor: pointer;
    box-sizing: border-box;
	padding: 5px 0px;
	max-height: 250px;
    overflow-y: auto;
    margin-bottom: 40px;
}

#settings-window #list {
	max-height: 20vh;
    margin-bottom: 0px;
}

@media only screen and (min-width: 600px) {
	#settings-window #list {
		max-height: 250px;
	}
}

#settings-window #list .theme,
#fog-battle #list .glad {
	padding: 2px 10px;
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	transition: all 0.3s;
	margin: 0px 3px;
}

#settings-window #list .theme:hover ,
#fog-battle #list .glad:hover {
	background-color: #dadff7;
}

#settings-window #list .theme.selected ,
#fog-battle #list .glad.selected {
	background-color: #d0f5da;
	font-weight: bold;
}

#settings-window #list .theme.selected:hover ,
#fog-battle #list .glad.selected:hover {
	background-color: #c3dfcb;
}

#fog-battle #list .diff {
    display: flex;
}

#fog-battle #list .diff .bar {
    width: 6px;
    background-color: #dcdcdc;
    margin: 0px 1px;
    border-radius: 5px;
}

#fog-battle #list .diff.none .bar {
    background-color: transparent;
}

#fog-battle #list .diff.three .bar {
    background-color: #f44336;
}

#fog-battle #list .diff.two .bar:nth-child(2),
#fog-battle #list .diff.two .bar:nth-child(3) {
    background-color: #ffc107;
}

#fog-battle #list .diff.one .bar:nth-child(3) {
    background-color: #4caf50;
}

#fog-battle .glad-card-container {
	width: auto;
	flex-grow: 1;
}

#fog-battle .glad-preview {
    width: 180px;
}

#fog.dark {
	background-color: rgba(0,0,0,0.8);
}

#fog.dark #video-container {
	max-height: 100vh;
    max-width: 100vw;
    height: 500px;
    width: 888px;
    background-color: white;
    border-radius: 3px;
	display: flex;
	box-shadow: 1px 1px 5px black;
}

#fog.dark #video-container #remove {
    background-color: #ec5757;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 1;
    margin: -5px -5px 0px -25px;
    background-image: url('../icon/close_x.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0px 0px 3px 1px white;
}

#fog.dark #video-container #remove:hover{
	background-color: #ae3d3d;
}

#help-window {
	width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: #646464;
	transition: all 0.3s;
}

#help-window #title {
    margin: 10px 15px;
}

#help-window #cat-container {
	display: flex;
	justify-content: space-around;
	margin: 0px 5px 10px;
}

#help-window .categories {
    background-color: #c7d6dc;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
	cursor: pointer;
	transition: all 0.3s;
	color: black;
	box-sizing: border-box;
}

#help-window .categories:hover {
	background-color: #6c97a9;
}

#help-window .categories.selected {
	box-shadow: 0px 0px 5px blue;
	background-color: #9ebac6;
}

#help-window .categories img{
	width: 50px;
}

#help-window .categories span{
	font-size: 0.7em;
}

#help-window .button {
    background-color: #6c97a9;
    border-radius: 0 0 3px 3px;
    margin: 0;
    color: white;
	width: 100%;
	height: 35px;
	margin-top: 1px;
	text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#help-window .button:hover {
	background-color: #9ebac6;
}

#settings-window #title h2{
	margin: 20px 0px 10px 20px;
}

#settings-window #settings-content{
	display: flex;
	margin: 0px 20px;
	flex-direction: column;
}

#settings-window #list {
	width: auto;
	margin-right: 10px;
	max-height: 20vh;
}

#settings-window #sample {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#settings-window #code-sample {
	height: 100%;
	width: 100%;
	margin: 0;
	min-height: 30vh;
}

#settings-window #font-size {
	text-align: right;
	margin-top: -45px;
}

#settings-window #font-size .button {
    height: 30px;
    width: 50px;
    margin: 0px 5px;
}

@media only screen and (min-width: 600px) {
	#settings-window #font-size {
		text-align: left;
		margin-top: 0px;
	}

	#settings-window #settings-content{
		flex-direction: row;
	}

	#settings-window #font-size .button {
		margin: 0px 10px;
	}
	#settings-window #sample,
	#settings-window #options {
		max-height: 65vh;
	}
}

#settings-window #button-container {
	margin-top: 15px;
}

#settings-window #button-container .button{
	width: 50%;
	border-radius: 0px;
	height: 50px;
	font-size: 1.3em;
}

#code-box {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    max-width: 100%;
    width: 600px;
	overflow: hidden;
	margin-top: 50px;
}

#code-box pre {
    max-height: calc(90vh - 50px);
    margin: 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

#code-box #code-ws {
    height: calc(90vh - 50px);
    margin: 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

#code-box #button-container {
    display: flex;
    justify-content: center;
}

#code-box .button {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 5px 0px;
    outline: none;
    color: white;
    background-color: #00638d;
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    cursor: pointer;
    transition: all 0.3s;
}

#code-box .button:hover {
    background-color: #1e86d8;
}

#chat-panel {
	z-index: 6;
}

body #fog {
	z-index: 7;
}

#header-container.small {
	z-index: 8;
}

#save-box {
    background-color: white;
    border-radius: 3px;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px black;
    color: #646464;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    min-height: 100px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#save-box #message {
    margin: 10px 0px;
    cursor: default;
}

#save-box #message .highlight {
    color: #00638d;
    font-weight: bold;
}

#save-box #button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#save-box .button {
    background-color: transparent;
	color: white;
	background-color: #8f98a3;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    border-radius: 5px;
	width: 100%;
	height: 50px;
    margin: 10px 5px 0px;
    padding: 3px 5px;
    transition: all 0.3s;
    cursor: pointer;
} 

.ace_gutter-cell.ace_breakpoint{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
	color: transparent;
	background-color: #ff000014;
}

.ace_gutter-cell.ace_breakpoint:before{
	content: '';
    background-color: red;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 100%;
	box-shadow: 0px 0px 3px red;
}

.line-breakpoint {
	background-color: #ff000014;
	position:absolute;
  	z-index:20;
}

.ace_gutter-cell.transition {
	transition: 0.5s background;
}

.ace_gutter-cell.red {
	background-color: red;
}

.blocklyToolboxDiv,
.blocklyFlyout,
.blocklyMainWorkspaceScrollbar {
	z-index: 1;
}