.table {
	margin-bottom: 30px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	border-collapse: collapse;
	border-radius: 3px;
}

.table tr {
	line-height: normal;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: #fafafa;
    border-bottom: 1px solid #dedede;
}

.table tr:hover {
	background-color: rgba(0,0,0,0.05);
}

.table a{
	font-size: 1.3em;
	font-weight: 400;
}

.table td{
	padding: 0;
}

.table .soon {
	text-decoration: line-through;
}

@media only screen and (min-width: 600px) {
.table tr {
	display: table-row;
	line-height: 2.5em;
}

.table td{
	padding-left: 15px;
	padding-right: 20px;
}

}